@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

:root {
  --bg-color-aside: #101020;
  --bg-color-content: #191933;
  --primary-text-color: #0fefd2;
}

body {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* colors */

.bg-color-aside {
  background-color: var(--bg-color-aside);
}

.bg-color-content {
  background-color: var(--bg-color-content);
}

.text-primary-color {
  color: var(--primary-text-color);
}

/* Fonts Size */
.font-22 {
  font-size: 22px !important;
}

/* Custom */
.nav {
  border: none !important;
}

.nav-link {
  font-size: 20px;
  border-color: none !important;
  border: none !important;
}

.nav-link.active {
  background-color: var(--bg-color-content) !important;
  color: var(--primary-text-color) !important;
  border-color: none !important;
}

/* Custom Measurements */

.w-100 {
  width: 100% !important;
}

.max-width-800 {
  width: 800px !important;
}

.max-width-180 {
  max-width: 180px !important;
}

.height-700 {
  height: 700px !important;
}

/* Custom margins and paddings */

.p-20 {
  padding: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-128 {
  padding-bottom: 128px !important;
}
