@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

:root {
  --bg-color-aside: #101020;
  --bg-color-content: #191933;
  --primary-text-color: #0fefd2;
}

body {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
}

/* colors */

.bg-color-aside {
  background-color: var(--bg-color-aside);
}

.bg-color-content {
  background-color: var(--bg-color-content);
}

.text-primary-color {
  color: var(--primary-text-color);
}

/* Fonts Size */
.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-44 {
  font-size: 44px !important;
}

/* Custom */
.nav {
  border: none !important;
  padding-right: -20px !important;
}

.nav-link {
  font-size: 20px;
  border: none !important;
  padding-left: 10px !important;
}

.nav-link.active {
  background-color: var(--bg-color-content) !important;
  color: var(--primary-text-color) !important;
  border-color: none !important;
  border: none !important;
}

.nav-tabs .nav-links {
  border-radius: 0 !important;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: var(--primary-text-color);
  border-radius: 6px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.row > * {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.label-select {
  top: -25%;
  left: 50%;
  transform: translate(-50%);
  width: max-content;
}

.form-chaves-criadas .label-select {
  background: linear-gradient(
    var(--bg-color-aside) 50%,
    var(--bg-color-content) 50%
  );
}

form select,
form input,
form button {
  transition: all 0.3s;
  outline: none !important;
  border: 2px solid #fff !important;
}

form select:focus,
form input:focus {
  border-color: var(--primary-text-color) !important;
}

form select:focus ~ label,
form input:focus ~ label {
  color: var(--primary-text-color) !important;
}

form button:hover {
  color: var(--primary-text-color) !important;
  border-color: var(--primary-text-color) !important;
}

#searchKey:focus {
  border: none;
  outline: none;
}

.filter {
  transition: 0.3s;
}

.filter:focus-within {
  color: var(--primary-text-color);
}

/* transitions */

.transition-1 {
  transition: height 0.1s ease-in-out !important;
}

/* Custom Measurements */
.max-content {
  width: max-content !important;
}

.max-width-1000 {
  max-width: 1000px !important;
}

.max-height-170 {
  max-height: 170px !important;
}

.max-width-180 {
  max-width: 180px !important;
}

.max-height-320 {
  max-height: 320px !important;
}

.width-40 {
  width: 40px !important;
}

.width-60 {
  width: 60px !important;
}

.max-height-700 {
  max-height: 700px !important;
}

.min-height-200 {
  min-height: 206px !important;
}

/* Custom margins and paddings */
.p-10 {
  padding: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.p-40 {
  padding: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pr-110 {
  padding-right: 110px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pb-128 {
  padding-bottom: 128px !important;
}

.padding-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.ml-neg-1 {
  margin-left: -3px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

/* borders and line */

.border-1-white {
  border: 1px solid #fff;
}

/* sidebar */

.sidebar {
  z-index: 1;
  top: 0;
  position: fixed;
  transition: 0.5s;
  transition-property: width;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
}

#check:checked ~ .sidebar .profile_info {
  margin-bottom: 50px;
  margin-right: -20px;
}

#check:checked ~ .sidebar .profile_image {
  width: 50px;
  height: 50px;
}

.sidebar h1 {
  transition: 0.5s;
  transition-property: opacity;
}

#check:checked ~ .sidebar h1 {
  opacity: 0;
}

.sidebar li {
  position: relative;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  line-height: 50px;
}

.sidebar a {
  color: #fff;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: width;
}

#check:checked ~ .sidebar {
  width: 100px;
}

.sidebar a i {
  height: 50px;
  width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
}

.sidebar a span {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
  position: absolute;
  width: max-content;
  z-index: 999;
}

#check:checked ~ .sidebar a span {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.content {
  transition: 0.5s;
  transition-property: width;
}

#check:checked ~ .content {
  width: calc(100% - 100px);
}

#check {
  display: none;
}

.sidebar li .toolTip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: var(--bg-color-content);
  color: var(--primary-text-color);
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition-property: top;
  transition-duration: 0.5s;
  display: block;
  z-index: 999;
}

#check:checked ~ .sidebar li:hover .toolTip {
  opacity: 1;
  top: 60%;
  display: block;
  transition-property: top;
  transition-duration: 0.5s;
}

@media (max-width: 950px) {
  .label {
    display: none !important;
  }

  .max-height-170 {
    max-height: 110px !important;
  }

  .max-height-320 {
    max-height: 300px !important;
  }
}

@media (max-width: 810px) {
  .max-height-355 {
    max-height: 355px !important;
  }
}
